body {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

video {
  height: 60vh;
  width: 100vw;
  z-index: -999;
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 0;
  /* flip it */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* Box */
.box {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
}

.box:after {
  content: "";
  position: absolute;
  left: 15vw;
  top: 30vh;
  transform: translate(15%, 1%);
  width: 50vw;
  height: 50vw;
  box-shadow: 0px 0px 0px 2000px #ffcb3d;
  z-index: -99;
  border: 20px black solid;
}

/* Header */
header {
  text-align: center;
  z-index: 999;
}

h1.header__madlads {
  font-size: 5.5em;
  font-weight: 700;
  margin-top: 0.75em;
}

h2.header__description {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: 0.75em;
}

/* Blank */

.blank__wrapper {
  text-align: center;
  margin-top: 5em;
}

#blank__text {
  position: relative;
  bottom: 0.75em;
}

.blank__space {
  height: 5vw;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
  text-align: center;
  font-size: 3em;
  border-bottom: 15px black solid;
  border-right: 15px black solid;
  border-left: 15px black solid;
}

button {
  padding: 11px 28px;
  background-color: white;
  border-radius: 100px;
  border: 10px solid #121212;
  box-shadow: 5px 5px #121212;
  transform: translate(93%, 100%);
  width: 35vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}
