body {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.bold {
  font-weight: bold;
  text-decoration: underline;
}

video {
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  object-position: 50% 20%;
  /* flip it */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.bot-nav {
  width: 100vw;
  height: 7vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0px -2vw 12vw rgba(0, 0, 0, 0.16);
}

button {
  padding: 11px 28px;
  background-color: #ffcb3d;
  border-radius: 100px;
  border: 10px solid #121212;
  box-shadow: 5px 5px #121212;
  width: 35vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

#confirm {
  position: absolute;
  right: 6vw;
  bottom: 4vh;
  z-index: 1;
}

#result {
  left: 0.25em;
  bottom: 0.25em;
  font-size: 3em;
}

/* confirm page */
#newpage {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #ffcb3d;
  z-index: 10;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#objectName {
  font-size: 3em;
  z-index: 11;
  width: 100vw;
  text-align: center;
  transform: translate(0%, 500%);
  font-weight: bold;
}

#itemNum {
  font-size: 16px;
  z-index: 11;
  width: 100vw;
  text-align: center;
  top: 60px;
}

#nextButton {
  position: absolute;
  right: 16px;
  bottom: 28px;
  z-index: 12;
}

#retake {
  position: absolute;
  left: 1em;
  bottom: 1em;
  z-index: 12;
  font-size: 1.75em;
}

#final-madlib {
  width: 100vw;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  z-index: 15;
  font-size: 3em;
}

#madlibsPage {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: white;
  z-index: 11;
  animation: fadeIn 1s;
}
